<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<script>
// var data = [
//   {id:1, sentence:"XXXXXXXXXXXXXXXX", importance:"2"},
//   {id:2, sentence:"XXXXXXXXXXXXXXXX", importance:"1"},
// ];

// var htmlText = '';
var htmlText = lis;
// for ( var key in data ) {
//     htmlText += '<div class="div-conatiner">';
//     htmlText += '<p class="p-name"> Name: ' + data[key].sentence + '</p>';
//     htmlText += '<p class="p-loc"> Location: ' + data[key].importance + '</p>';
//     htmlText += '</div>';
// }

$('body').append(htmlText);

</script>
    <!-- <div id="body"></div> -->
</body>
<!-- <body>
  <p>{{ s }}</p>
  <hr>

  <ul>
  {% for x in lis %}
    <li>{{ x }}</li>
  {% endfor %}
  </ul>
  <hr>

  <p>{{ "name: %s age: %s" % (dic["name"], dic["age"]) }}</p>
  <hr>

  {% if bl %}
    <p>True</p>
  {% else %}
    <p>False</p>
  {% endif %}
</body> -->


</html>
