
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="/static/app.css">
    <!-- JSファイルを追加 -->
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>

<!-- <form action="/post" method="post" class="form-inline">
  <label for="url">URL</label>
  <input type="url" class="form-control" id="url" name="url" placeholder="Url">
  <button type="submit" class="btn btn-default">送信する</button>
</form> -->

<form action="/post" method="post" class="form-inline">
'<input type="submit" name= i value="レベル1">'+ '要注意！'
'<input type="radio" name= i value="レベル1">'+ 'ふつう'
</form>

</body>
</html>
